<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GeneradorBase -->
      <package
            uri="http://org/eclipse/example/casoVolley"
            class="CasoVolley.CasoVolleyPackage"
            genModel="model/GeneradorBase.genmodel"/>
   </extension>

</plugin>
